<launch>
    
    <arg name="node_name"                                   default="organized_multi_plane_segmentation" />
    
    <arg name="cloud_topic"                                 default="camera/depth_registered/points" />
    
    <arg name="estimate_normal"                             default="true" />
    <arg name="publish_normal"                              default="false" />
    <arg name="max_depth_change_factor"                     default="0.02" />
    <arg name="normal_smoothing_size"                       default="20.0" />
    <arg name="depth_dependent_smoothing"                   default="false" />
    <arg name="estimation_method"                           default="1" doc="AVERAGE_3D_GRADIENT(0), COVARIANCE_MATRIX(1) and AVERAGE_DEPTH_CHANGE(2)" />
    <arg name="border_policy_ignore"                        default="true" />
    <arg name="min_size"                                    default="2000" />
    <arg name="angular_threshold"                           default="0.05" />
    <arg name="max_curvature"                               default="0.001" />
    <arg name="connect_plane_angle_threshold"               default="0.2" />
    <arg name="connect_distance_threshold"                  default="0.01" />
    <arg name="ransac_refine_coefficients"                  default="true" />
    <arg name="ransac_refine_outlier_distance_threshold"    default="0.1" />
    <arg name="min_refined_area_threshold"                  default="0.04" />
    <arg name="max_refined_area_threshold"                  default="10000" />
    
    <arg name="use_external_manager"                        default="false" />
    <arg name="manager_name"                                default="$(arg node_name)_manager" />
    
    <arg name="visualize_norm"                              default="true" />
    
    <arg name="always_subscribe"                            default="true" />
    <arg name="verbose_connection"                          default="false" />
    
    
    <node unless="$(arg use_external_manager)" name="$(arg manager_name)" pkg="nodelet" type="nodelet" args="manager" />
    
    <node name="$(arg node_name)" pkg="nodelet" type="nodelet"
          args="load jsk_pcl/OrganizedMultiPlaneSegmentation $(arg manager_name)">
        <remap from="~input" to="$(arg cloud_topic)" />
        <rosparam subst_value="true">
            estimate_normal: $(arg estimate_normal)
            publish_normal: $(arg publish_normal)
            max_depth_change_factor: $(arg max_depth_change_factor)
            normal_smoothing_size: $(arg normal_smoothing_size)
            depth_dependent_smoothing: $(arg depth_dependent_smoothing)
            estimation_method: $(arg estimation_method)
            border_policy_ignore: $(arg border_policy_ignore)
            min_size: $(arg min_size)
            angular_threshold: $(arg angular_threshold)
            max_curvature: $(arg max_curvature)
            connect_plane_angle_threshold: $(arg connect_plane_angle_threshold)
            connect_distance_threshold: $(arg connect_distance_threshold)
            ransac_refine_coefficients: $(arg ransac_refine_coefficients)
            ransac_refine_outlier_distance_threshold: $(arg ransac_refine_outlier_distance_threshold)
            min_refined_area_threshold: $(arg min_refined_area_threshold)
            max_refined_area_threshold: $(arg max_refined_area_threshold)
        </rosparam>
        <param name="always_subscribe"      value="$(arg always_subscribe)" />
        <param name="verbose_connection"    value="$(arg verbose_connection)" />
    </node>
    
    <node if="$(arg visualize_norm)"
          name="$(arg node_name)_normal_concatenater" pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/NormalConcatenater $(arg manager_name)">
        <remap from="~input"  to="$(arg cloud_topic)" />
        <remap from="~normal" to="$(arg node_name)/output_normal" />
    </node>
    
</launch>
